requirements.txt text eol=lf
requirements-ai.txt text eol=lf
launcher-requirements.txt text eol=lf
pixi.toml text eol=lf
pyproject.toml text eol=lf
requirements-dev.lock text eol=lf
requirements-check.lock text eol=lf
*.json text eol=lf
